.git
.gitignore
.idea
.env
compose.override.yaml
.pytest_cache
.venv
__pycache__
**/__pycache__
*.log*
config/config.ini
config/gapi_service_file.json
config/google_oauth_client.json
config/google_oauth_token.json
certs
